@use 'sass:color';
/* TODO: Select proper height, width, margin*/
$dot-height: min(4vh, 4vw);
$option-height: min(7vh, 7vw);
$transition-time: 0.5s;
$red: rgb(246, 80, 80);
$green: green;
$blue: rgb(75, 75, 248);
$yellow: yellow;

.main-page{
    display: flex;
    justify-content: space-between;
}

.power-button {
    &.on{
        background-color: green;
    }
    &.off{
        background-color: red;
    }
}

.palette{
    width: calc($option-height*9/7);
    justify-items: center;
    margin: 20px;
}

.color-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dot-row{
    display: flex;
    flex-direction: row;
}

.even{
    margin-left: calc($dot-height/2);
}

.color-dot{
    background-color: black;
    height: $dot-height;
    width: $dot-height;
    border-radius: 50%; 
    margin: calc($dot-height/8);
}

@mixin glow($color){    
    box-shadow:
    inset 0 0 1.6vh #fff,
    inset 1.3vh 0 $dot-height color.scale($color, $lightness: 50%),
    inset -1.3vh 0 $dot-height color.scale($color, $lightness: 50%),
    0 0 1.5vh #fff,
    -.65vh 0 5vh color.scale($color, $lightness: 50%),
    .65vh 0 5vh color.scale($color, $lightness: 50%);
}

.red{
    transition: $transition-time;
    background-color: $red;
    &.on{
        @include glow($red)
    }
}

.green{
    transition: $transition-time;
    background-color: $green;
    &.on{
        @include glow($green)
    }
}

.blue{
    transition: $transition-time;
    background-color: $blue;
    &.on{
        @include glow($blue)
    }
}

.yellow{
    transition: $transition-time;
    background-color: $yellow;
    &.on{
        @include glow($yellow)
    }
}

.color-option{
    height: $option-height;
    width: $option-height;
    border-radius: 50%;
    margin: calc($option-height/4);
    box-shadow: none;
}

.selected-color{
    transition: $transition-time;
    height: calc($option-height*9/7);
    width: calc($option-height*9/7);
}